@tailwind base;
@tailwind components;
@tailwind utilities;

.pagination {
    @apply flex justify-center items-center space-x-2;
}

.pagination a,
.pagination span {
    @apply px-3 py-1 rounded-md;
}

.pagination a:hover {
    @apply bg-amber-100;
}

.pagination .active {
    @apply bg-amber-600 text-white;
}

.select-all {
    user-select: all;
}
