@font-face {
    font-family: 'Inter';
    src: url('/fonts/Inter-Variable.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('/fonts/Inter-Italic-Variable.ttf') format('truetype');
    font-weight: 100 900;
    font-style: italic;
    font-display: swap;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.pagination {
    @apply flex justify-center items-center space-x-2;
}

.pagination a,
.pagination span {
    @apply px-3 py-1 rounded-md;
}

.pagination a:hover {
    @apply bg-amber-100;
}

.pagination .active {
    @apply bg-amber-600 text-white;
}

.select-all {
    user-select: all;
}
